<!DOCTYPE html>
<html>
<head>
    <title>CSTRAVEL</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">

</head>
<body>
<div class="main">
  <br>
  <div class="container">
    <div class="row justify-content-md-center ">
      <div class="col col-lg-6">
  <div class="card mb-3">

     <div class="card-header">
      <div class="btn-group" role="group" aria-label="Basic example" >
        <button  type="button" class="btn-xs btn-primary" (click)="obtenerUsuarioId(_usuarioService.getIdentidad()._id)"
        data-bs-toggle="modal" data-bs-target="#modalEditarUsuario"><i class="bi bi-pencil-square"></i></button>
        <button  type="button" class="btn-xs btn-danger" (click)="obtenerUsuarioId(_usuarioService.getIdentidad()._id)"
        data-bs-toggle="modal" data-bs-target="#modalEliminarUsuario"><i class="bi bi-trash-fill"></i></button>
      </div>
      <h5 class="card-title text-center"><strong>DETALLES DE TU PERFIL</strong></h5>
     </div>

      <img *ngIf="_usuarioService.getIdentidad().imagen == null  " src="/assets/userp.jpg" class="card-img-top" style= "max-height: 200px;" alt="..." >
      <img *ngIf="_usuarioService.getIdentidad().imagen " [src]="_usuarioService.getIdentidad().imagen" class="card-img-top" style= "max-height: 200px;" alt="..." >

          <form>
            <div class="mb-3">
              <label for="inputNombre" class="form-label"><strong><i class="bi bi-phone-landscape"></i> NOMBRE</strong></label>
              <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre="ngModel"
                [(ngModel)]="_usuarioService.getIdentidad().nombre" disabled>
            </div>
            <div class="mb-3">
              <hr>
              <label for="inputDescripcion" class="form-label"><strong><i class="bi bi-card-text"></i> USUARIO</strong></label>
              <input type="text" class="form-control" id="inputDescripcion" rows="3" name="descripcion" #descripcion="ngModel"
                [(ngModel)]="_usuarioService.getIdentidad().usuario" disabled>
            </div>
            <div class="mb-3">
              <hr>
              <label for="inputMonto" class="form-label"><strong><i class="bi bi-cash-stack"></i> EMAIL </strong></label>
              <input type="text" class="form-control" id="inputNombre" name="monto" #monto="ngModel"
                [(ngModel)]="_usuarioService.getIdentidad().email" disabled>
                <hr>
            </div>

          </form>
          <!--
          <br>

            <div class="card-footer">
      <div class="btn-group" role="group" aria-label="Basic example" >
        <button  type="button" class="btn-xs btn-primary" (click)="obtenerUsuarioId(_usuarioService.getIdentidad()._id)"
        data-bs-toggle="modal" data-bs-target="#modalEditarUsuario"><i class="bi bi-pencil-square"></i></button>
        <button  type="button" class="btn-xs btn-danger" (click)="obtenerUsuarioId(_usuarioService.getIdentidad()._id)"
        data-bs-toggle="modal" data-bs-target="#modalEliminarUsuario"><i class="bi bi-trash-fill"></i></button>
      </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  <div class="footer">
  <h5 style="text-align: center; color:white">Copyright © 2021 CSTRAVEL - Carlos Andres Selman David, todos los derechos reservados.</h5>
</div>

-->

<!-- Modal Editar Usuario -->
<div class="modal fade" id="modalEditarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label"><strong>Nombre:</strong></label>
            <input type="text" class="form-control" id="inputNombre"
            name="nombre" #nombre="ngModel" [(ngModel)]="idUsuario.nombre">
          </div>
          <div class="mb-3">
            <label for="inputUsuario" class="form-label"><strong>Usuario:</strong></label>
            <input type="text" class="form-control" id="inputUsuario"
            name="usuario" #usuario="ngModel" [(ngModel)]="idUsuario.usuario">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><strong>Correo:</strong></label>
            <input type="email" class="form-control" id="exampleInputEmail1"
            name="email" #email="ngModel" [(ngModel)]="idUsuario.email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Cerrar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="editarUsuario()"><i class="bi bi-save"></i> Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Usuario -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de que desea eliminar su cuenta, {{ _usuarioService.getIdentidad().usuario }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> No, cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
        (click)="eliminarUsuario(_usuarioService.getIdentidad()._id)"><i class="bi bi-check-square"></i> Si, eliminar <i class="bi bi-trash"></i></button>
      </div>
    </div>
  </div>
</div>
